/* style here */
body{
    background-color: black;
}

.text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 100px;
    font-weight: 800;
    fill: #b1118f;
    letter-spacing: 2px;
}

.dot {
    animation: blink 1.4s infinite both;
}

.dot:nth-of-type(1) {
    animation-delay: 0s;
}

.dot:nth-of-type(2) {
    animation-delay: 0.2s;
}

.dot:nth-of-type(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0.2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}